configuration {
 modi: "window,drun,ssh,combi";
 font: "JetBrainsMono Nerd Font 15";
 combi-modi: "window,drun,ssh";
 show-icons: true;
 icon-theme: "Vimix";
 }


//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
